---
import Ubicacion from "../../public/svg/Ubicacion.astro";
import SupabaseUploader from "./SupabaseUploader.astro";
---

<section class="flex flex-col md:flex-col w-[70%] font-[Montserrat] mt-4 mb-8">
  .

  <div class="flex flex-col items-center">
    <img src="../public/images/album.png" alt="" class="w-[120px] mb-8" />

    <h4
      class="md:text-4xl text-2xl font-bold border-t-2 border-b-2 md:w-[450px] w-[350px] p-4 text-center"
    >
      Álbum de Boda
    </h4>
    <h2 class="text-2xl p-4 text-center">
      ¡Ayudanos a construir nuestro tesoro de recuerdos!
    </h2>
    <SupabaseUploader />
  </div>
</section>
