---
import Ubicacion from "../../public/svg/Ubicacion.astro";
---

<section
  data-sal="zoom-in"
  data-sal-duration="2000"
  data-sal-delay="200"
  class="flex flex-col md:flex-col w-[70%] mt-8"
>
  <div class="flex flex-col items-center">
    <h1
      class="text-6xl font-cursive mb-4 text-[#ffffff] [text-shadow:_0_2px_4px_rgb(73_39_3_/_1.0)] text-center"
    >
      Ana & Luis
    </h1>
    <h2 class="text-4xl font-bold p-4 text-center font-[Montserrat]">
      !Los esperamos!
    </h2>

    <small class="font-[Montserrat] mt-8">PandaCode ©2025</small>
  </div>
</section>
