---
import Ubicacion from "../../public/svg/Ubicacion.astro";
---

<section
  data-sal="fade"
  data-sal-duration="2000"
  data-sal-delay="200"
  class="flex flex-col md:flex-col w-[70%] font-[Montserrat]"
>
  <div class="flex flex-col items-center">
    <img src="../public/images/hotel.png" alt="" class="w-[120px] mb-8" />

    <h4
      class="md:text-5xl text-3xl font-bold border-t-2 border-b-2 md:w-[450px] w-[350px] p-4 text-center"
    >
      Hoteles
    </h4>
  </div>
  <div class="flex flex-col md:flex-row justify-center">
    <div class="flex items-center flex-col p-8 md:w-[50%]">
      <h2 class="text-2xl p-4 font-bold text-center">Hotel Palmiras</h2>
      <div
        class="flex flex-row gap-2 items-center border-t-1 border-b-1 p-4 cursor-pointer hover:bg-black hover:text-white hover:ease-in-out hover: duration-700"
      >
        <div class="size-5 mb-2">
          <Ubicacion />
        </div>
        <a href="" class="text-center">Ver ubicacion</a>
      </div>
    </div>

    <div class="flex items-center flex-col p-8 md:w-[50%]">
      <h2 class="text-2xl p-4 font-bold text-center">Hotel El Carmen</h2>
      <div
        class="flex flex-row gap-2 items-center border-t-1 border-b-1 p-4 cursor-pointer hover:bg-black hover:text-white hover:ease-in-out hover: duration-700"
      >
        <div class="size-5 mb-2">
          <Ubicacion />
        </div>
        <a href="" class="text-center">Ver ubicacion</a>
      </div>
    </div>
    <div class="flex items-center flex-col p-8 md:w-[50%]">
      <h2 class="text-2xl p-4 font-bold text-center">Hotel Portozul</h2>
      <div
        class="flex flex-row gap-2 justify-center items-center border-t-1 border-b-1 p-4 cursor-pointer hover:bg-black hover:text-white hover:ease-in-out hover: duration-700"
      >
        <div class="size-5 mb-2">
          <Ubicacion />
        </div>
        <a href="" class="text-center">Ver ubicacion</a>
      </div>
    </div>
  </div>
</section>
