---

---

<nav>
  <ul
    class="flex justify-center space-x-4 text-sm font-[Montserrat] bg-black p-1 gap-2"
  >
    <li>
      <a href="#inicio" class="text-amber-300 hover:text-amber-100">Inicio</a>
    </li>
    <li>
      <a href="#countdown" class="text-white hover:text-amber-100"
        >Cuenta regresiva</a
      >
    </li>
    <li>
      <a href="#itinerario" class="text-white hover:text-amber-100"
        >Itinerario</a
      >
    </li>
    <li>
      <a href="#galeria" class="text-white hover:text-amber-100">Galería</a>
    </li>
    <li>
      <a href="#rsvp" class="text-white hover:text-amber-100">RSVP</a>
    </li>
  </ul>
</nav>
