---
import "../styles/global.css";
import "sal.js/dist/sal.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Invitacion - Boda Ana & Luis</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />

    <script>
      import sal from "sal.js";
      sal({
        threshold: 0.2, // % visible para activar animación (0.1 = 10%)
        once: true, // Animación solo una vez
        disable: "mobile", // Desactiva en móviles (opcional)
        rootMargin: "0px 0px -100px 0px", // Área de detección
      });
    </script>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Great Vibes", cursive;
    font-size: 16px;
    background-color: rgb(204, 198, 184);
    scroll-behavior: smooth;
  }
  ,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  @media (prefers-reduced-moition: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
